<h1>Notes</h1>

<div id="top-bar">
    <form action="/createNote" method="get">
        <input type="submit" value="Create note">
    </form>

    <form action="/toggleTheme" method="get">
        {{#ifEq theme 'dark'}}
            <input type="submit" value="Use light theme">
        {{else}}
            <input type="submit" value="Use dark theme">
        {{/ifEq}}
    </form>
</div>

<div id="view-settings">
    <div id="note-order">
        <form action="/orderBy" method="get">
            <input type="hidden" name="value" value="importance">
            <input type="submit" value="Order by importance"
                   {{#ifEq orderBy 'importance'}}data-selected="true"{{/ifEq}}>
        </form>

        <form action="/orderBy" method="get">
            <input type="hidden" name="value" value="dueDate">
            <input type="submit" value="Order by due date"
                   {{#ifEq orderBy 'dueDate'}}data-selected="true"{{/ifEq}}>
        </form>

        <form action="/orderBy" method="get">
            <input type="hidden" name="value" value="creationDate">
            <input type="submit" value="Order by creation date"
                   {{#ifEq orderBy 'creationDate'}}data-selected="true"{{/ifEq}}>
        </form>
    </div>

    <div id="note-filter">
        <form action="/toggleFinishedNoteVisibility" method="get" class="finishedNoteVisibility">
            <input type="submit" value="Show finished notes" data-active="{{showFinishedNotes}}">
        </form>
    </div>
</div>

{{#if notes}}
    <div id="notes">
        {{#each notes}}
            <div class="note">
                <span class="body">
                    <span class="title">{{this.title}}</span>
                    <span class="importance">
                        {{#loop this.importance}}
                            <svg x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000">
                        <g>
                            <path d="M990,10L255,500l183.8,122.5L10,990l735-367.5L561.3,500L990,10z"></path>
                        </g>
                    </svg>
                        {{/loop}}
                    </span>

                    {{#ifEq this.isFinished false}}
                        <span class="timeRemaining">{{this.timeRemaining}}</span>
                    {{/ifEq}}

                    <div class="description">{{this.description}}</div>
                </span>

                <div class="control">
                    <form action="/modifyNote" method="get">
                        <input type="hidden" name="uuid" value="{{this.uuid}}">
                        <input type="submit" value="Modify"/>
                    </form>

                    <form action="/toggleNoteIsFinished" method="get" class="toggleFinished"
                          data-is-finished="{{this.isFinished}}">
                        <input type="hidden" name="uuid" value="{{this.uuid}}">
                        <input type="submit" value="Done"/>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>There is nothing to be seen here...</p>
{{/if}}
