{{#if isNewNote}}
    <h1>Create note</h1>
{{else}}
    <h1>Modify note</h1>
{{/if}}

<div id="wrapper">
    <form action="/takeNote" method="post">
        <div class="formSection">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" maxlength="30" value="{{title}}" required>
        </div>

        <div class="formSection">
            <label for="description">Description</label>
            <textarea id="description" name="description">{{description}}</textarea>
        </div>

        <div class="formSection">
            <label for="dueDate">Due date</label>
            <input id="dueDate" name="dueDate" type="date" value="{{dueDate}}" required>
        </div>

        <div class="formSection">
            <label for="importance">Importance</label>
            <div id="importance">
                {{#loop 5}}
                    {{#ifEq importance next}}
                        <input id="bolt{{next}}" class="bolt" value="{{next}}" type="radio" name="importance" hidden
                               required checked>
                    {{else}}
                        <input id="bolt{{next}}" class="bolt" value="{{next}}" type="radio" name="importance" hidden
                               required>
                    {{/ifEq}}

                    <label for="bolt{{next}}">
                        <svg x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000">
                            <g>
                                <path d="M990,10L255,500l183.8,122.5L10,990l735-367.5L561.3,500L990,10z"></path>
                            </g>
                        </svg>
                    </label>
                {{/loop}}
            </div>
        </div>

        {{#unless isNewNote}}
            <input type="hidden" name="uuid" value="{{uuid}}">
        {{/unless}}

        <input type="hidden" name="isNewNote" value="{{isNewNote}}">
        <input type="submit" value="Save" id="save">
    </form>

    <form action="/" method="get">
        <input type="submit" value="Cancel">
    </form>
</div>
