#top-bar
{
    padding-bottom: 1em;
}

#top-bar > form
{
    display: inline;
}

#view-settings
{
    display: flex;
}

#note-order
{
    flex: 1;
}

#note-order > form, #note-filter > form
{
    display: inline;
}

#note-order > form > input[data-selected=true]
{
    background-color: #0ab30a;
}

@media (max-width: 1000px)
{
    #view-settings
    {
        display: block;
    }

    #note-order
    {
        padding-bottom: 1em;
    }

    #note-order > form
    {
        display: block;
    }
}

#note-filter > form
{
    margin-right: 1em;
}

#note-filter > form.finishedNoteVisibility > input[data-active=true]
{
    background-color: #0ab30a;
}

.note
{
    display: flex;
    padding: 1em
}

@media (max-width: 750px)
{
    .note
    {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    #top-bar input[type=submit], #note-order input[type=submit], #note-filter input[type=submit]
    {
        width: 100%;
    }

    #top-bar form
    {
        display: block;
    }
}

#top-bar form, #note-order form, #note-filter form
{
    margin-bottom: 0.5em;
}

.note .body
{
    flex: 1;
}

.note .title
{
    font-size: 2em;
}

.note .body .timeRemaining, .note .body .importance
{
    float: right;
    margin-left: 1em;
}

@media (max-width: 1000px)
{
    .note .body .timeRemaining, .note .body .importance
    {
        float: none;
        display: block;
        margin: 0;
    }

    #note-filter > form
    {
        margin-right: 0;
    }
}

.note .control
{
    display: flex;
}

.note .control form
{
    margin-left: 1em;
    margin-top: auto;
}

@media (max-width: 750px)
{
    .note .control form
    {
        margin: 0 1em 0 0;
    }
}

.note .description
{
    white-space: pre-line;
    min-height: 1em;
    border: 2px solid var(--text-colour);
}

.note .importance > svg
{
    width: 1.5em;
    fill: orange;
    stroke: orange;
}

.note .toggleFinished[data-is-finished=true] > input
{
    background-color: #0ab30a;
}
