body[data-theme=light]
{
    --text-colour: black;
    --background-colour: white;
}

body[data-theme=dark]
{
    --text-colour: white;
    --background-colour: black;
}

body
{
    font-family: sans-serif;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

input[type=submit]
{
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 4px;
    background-color: #0095ff;
    color: white;
    cursor: pointer;
}
