#wrapper
{
    width: 100%
}

@media (min-width: 700px)
{
    #wrapper
    {
        width: 700px;
    }
}

#importance svg
{
    width: 3em;
    fill: currentColor;
    stroke: currentColor;
}

@media (max-width: 700px)
{
    #importance svg
    {
        width: 15%;
    }
}

#importance label
{
    color: orange;
}

#importance input:checked ~ label
{
    color: lightgrey;
}

#importance input:checked + label
{
    color: orange;
}

#save
{
    background-color: #0ab30a;
    margin-bottom: 0.5em;
}

.formSection
{
    margin-bottom: 2em;
}

label
{
    font-size: 1.4em;
}

input[type=text], input[type=date], textarea
{
    width: 100%;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid #0ab30a;

    background-color: var(--background-colour);
    color: var(--text-colour);
}

textarea
{
    resize: none;
    height: 5em;
}
